@model WebsitePlant.Models.Plant

@{
    ViewData["Title"] = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Details</h1>

<div>
    <h4>Plant</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.CommonName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.CommonName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.OtherNames)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.OtherNames)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ScientificName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ScientificName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Family)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Family)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantPartUsed)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantPartUsed)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PlantUse)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PlantUse)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ImageUrl)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.PlantId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
